/* -----------------------------
/* Layout
/* ----------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
}

a {
	color: $f-orange;
	transition: all 0.2s linear;
	text-decoration: none !important;
	&:hover, &:focus, &:active {

	}
}

em {
	font-weight: 300;
}

p {
	margin-bottom: 25px;
	line-height: calc(28em / 18);
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

img {
	vertical-align: bottom;
}

.main-secondary {
	border-top: 60px solid $f-orange;
	padding: 40px 0 55px 0;
}

.table thead th {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    font-size: 35px;
    font-weight: 500;
    font-style: italic;
}

.table thead tr th {
	&:last-of-type {
    	border-right: 0;
    }
}

.table tbody tr td {
	&:last-of-type {
    	border-right: 0;
    }
}

.table td, .table th {
	text-align: center;
	font-weight: 400;
	border-right: 1px solid #000;
    border-top: 1px solid #000;
}

.table tbody tr:last-of-type th,
.table tbody tr:last-of-type td {
	border-bottom: 1px solid #000;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}



