// -----------------------------
// Mixins
// -----------------------------

//
// Breakpoint shortcut for media queries
//
@mixin breakpoint($class) {
    @if $class == xs {
        @media only screen and (max-width: 414px) { @content; }
    }

    @else if $class == sm {
        @media only screen and (max-width: 767px) { @content; }
    }

    @else if $class == md {
        @media only screen and (max-width: 991px) { @content; }
    }

    @else if $class == lg {
        @media only screen and (max-width: 1441px) { @content; }
    }

    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}

// Example of usage
// aside.primary {1
//   float: right;
//   width: 350px;
//   @include breakpoint(sm) {
//     float: none;
//     width: 100%;
//   }
// }

//
// Button
//
@mixin btn-focus($color: $f-black,
    $padding: 15px 15px,
    $background: #fff,
    $font-size: 14px) {
    text-transform: uppercase;
    font-size: $font-size;
    color: $color;
    padding: $padding;
    background: $background;
    font-weight: 700;
    max-width: 200px;
    width: 100%;
    border-radius: 0;
    transition: all 0.2s linear;
    &:hover, &:focus {

    }
}

.btn-focus {
    @include btn-focus();
}



//
// This mixin can be used to set the object-fit:
// @include object-fit(cover);
// or object-fit and object-position:
// @include object-fit(cover, top);
//
@mixin object-fit($fit: fill, $position: null){
    -o-object-fit: $fit;
    object-fit: $fit;
    @if $position {
        -o-object-position: $position;
        object-position: $position;
        font-family: 'object-fit: #{$fit}; object-position: #{$position}';
    }
    @else {
        font-family: 'object-fit: #{$fit}';
    }
}






