// -----------------------------
// Mixins
// -----------------------------

//
// Breakpoint shortcut for media queries
//
@mixin breakpoint($class) {
    @if $class == xs {
        @media only screen and (max-width: 414px) { @content; }
    }

    @else if $class == sm {
        @media only screen and (max-width: 767px) { @content; }
    }

    @else if $class == md {
        @media only screen and (max-width: 991px) { @content; }
    }

    @else if $class == lg {
        @media only screen and (max-width: 1441px) { @content; }
    }

    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}

// Example of usage
// aside.primary {1
//   float: right;
//   width: 350px;
//   @include breakpoint(sm) {
//     float: none;
//     width: 100%;
//   }
// }

//
// Button
//



//
// This mixin can be used to set the object-fit:
// @include object-fit(contain);
// or object-fit and object-position:
// @include object-fit(cover, top);
//
@mixin object-fit($fit: fill, $position: null){
    -o-object-fit: $fit;
    object-fit: $fit;
    @if $position {
        -o-object-position: $position;
        object-position: $position;
        font-family: 'object-fit: #{$fit}; object-position: #{$position}';
    }
    @else {
        font-family: 'object-fit: #{$fit}';
    }
}






