/* -----------------------------
/* Utility
/*
/* - Utility classes for quick
/* use
/* ----------------------------- */

.is-flex {
	display: flex;
}

.has-flex-wrap {
	@include flex-wrap(wrap);
}

.no-flex-wrap {
	@include flex-wrap(nowrap !important);
}

.flex-space-between {
	@include justify-content(space-between);
}

.font-light {
	font-weight: 100;
}

.font-medium {
	font-weight: 500;
}

.no-padding {
	padding: 0 !important;
}

.f-orange {
	color: $f-orange;
}