// -----------------------------
// Variables
// -----------------------------

// Colors
$fl-light-grey: #e8e8e8;
$fl-grey: #cecece;
$fl-dark-grey: #3E3E3E;
$fl-blue: #37609b;
$fl-dark-blue: #1e3556;

// Fonts
$ubuntu: 'Ubuntu', sans-serif;

// Bourbon overrides
$em-base: 24px;