/* -----------------------------
/* Form
/*
/* - Styles for labels, inputs,
/* radio buttons, etc.
/* ----------------------------- */

/* -------------------------------------
/* Gravity Forms
/* ------------------------------------- */

.gform_button.button {
	cursor: pointer;
    &:hover, &:focus {
        color: #fff;
        background: darken(#535353, 10%);
    }
    @include breakpoint(lg) {
        padding: 9px 25px;
    }
}

body .gform_wrapper label.gfield_label+div.ginput_container {
	margin-top: 0 !important;
}

.gform_wrapper {
	margin: 0 !important;
	max-width: 100% !important;
}

.gform_wrapper ul {
	padding: 0 !important;
}

.gform_wrapper .gform_footer {
	@include clearfix;
	input[type=submit] {
		float: right;
	}
}

.gform_body {
	input {
		width: 100% !important;
		border: 2px solid #7A7B7B !important;
		border-radius: 0 !important;
		font-size: 30px !important;
		padding: .85rem .75rem !important;
		height: auto !important;
	}
	textarea {
		font-size: 30px !important;
		width: 100% !important;
		border: 2px solid #7A7B7B !important;
		border-radius: 0 !important;
		padding: .85rem .75rem !important;
	}
}



/* -------------------------------------
/* Regular form styles
/* ------------------------------------- */

.form-control {
	border: 2px solid #7A7B7B;
	border-radius: 0;
	font-size: 30px;
	padding: .85rem .75rem;
	height: auto !important;
}

.form-check-label {
	font-weight: 500;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
}

.form-check {
	margin-bottom: 40px;
}

.form-check-input {
	margin-right: 25px;
}

.form-group {
	margin-bottom: 40px !important;
	&.secondary {
		margin-bottom: 30px !important;
	}
	&.tertiary {
		margin-bottom: 25px !important;
	}
}

.form-group label {
	font-size: 30px;
	font-weight: 500;
	color: #000;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.form-close {
	position: absolute;
	top: 32px;
	right: 32px;
	img {
		vertical-align: top;
		width: 40px;
		height: 40px;
	}
	&[aria-expanded="false"] {
		@include sr-only();
	}
}

/* -------------------------------------
/* Contact Form specific styles (appears 
/* everywhere)
/* ------------------------------------- */


