/* -----------------------------
/* Form
/*
/* - Styles for labels, inputs,
/* radio buttons, etc.
/* ----------------------------- */

/* -------------------------------------
/* Gravity Forms
/* ------------------------------------- */

.gform_button.button {
	cursor: pointer;
    @include flButton($padding: 17px 35px, $border: 0, $background: #535353);
    &:hover, &:focus {
        color: #fff;
        background: darken(#535353, 10%);
    }
    @include breakpoint(lg) {
        padding: 9px 25px;
    }
}

body .gform_wrapper label.gfield_label+div.ginput_container {
	margin-top: 0 !important;
}

.gform_wrapper {
	margin: 0 !important;
	max-width: 100% !important;
}

.gform_wrapper ul {
	padding: 0 !important;
}

.gform_wrapper .gform_footer {
	@include clearfix;
	input[type=submit] {
		float: right;
	}
}

.gform_body {
	input {
		width: 100% !important;
		border: 2px solid #7A7B7B !important;
		border-radius: 0 !important;
		font-size: 30px !important;
		padding: .85rem .75rem !important;
		height: auto !important;
	}
	textarea {
		font-size: 30px !important;
		width: 100% !important;
		border: 2px solid #7A7B7B !important;
		border-radius: 0 !important;
		padding: .85rem .75rem !important;
	}
}



/* -------------------------------------
/* Regular form styles
/* ------------------------------------- */

.form-control {
	border: 2px solid #7A7B7B;
	border-radius: 0;
	font-size: 30px;
	padding: .85rem .75rem;
	height: auto !important;
}

.form-check-label {
	font-weight: 500;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
}

.form-check {
	margin-bottom: 40px;
}

.form-check-input {
	margin-right: 25px;
}

.form-group {
	margin-bottom: 40px !important;
	&.secondary {
		margin-bottom: 30px !important;
	}
	&.tertiary {
		margin-bottom: 25px !important;
	}
}

.form-group label {
	font-size: 30px;
	font-weight: 500;
	color: #000;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.form-close {
	position: absolute;
	top: 32px;
	right: 32px;
	img {
		vertical-align: top;
		width: 40px;
		height: 40px;
	}
	&[aria-expanded="false"] {
		@include sr-only();
	}
}

/* -------------------------------------
/* Pond Assessment Form specific styles
/* ------------------------------------- */

#pondAssessmentFormBtn {
	&[aria-expanded="true"] {
		@include sr-only();
	}
}

/* -------------------------------------
/* Contact Form specific styles (appears 
/* everywhere)
/* ------------------------------------- */

$contact-form-max-width: 1140px;
$contact-form-btn-trigger-height: 71px;

.btn-fl--contact {
	font-size: 30px;
	@include transform(rotate(270deg));
	position: fixed;
    margin: 0;
    right: -90px;
    top: 480px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: $contact-form-btn-trigger-height;
    margin: 0;
    height: $contact-form-btn-trigger-height;
    z-index: 200;

}

.contact-form-container {
	position: fixed;
	top: 0;
    margin: 0;
    z-index: 200;
	width: 100%;
	height: 100%;
	max-width: $contact-form-max-width;
	box-sizing: border-box;
	right: -$contact-form-max-width;
	@include transition(all 200ms ease-in-out);
}

.contact-form {
	background: #fff;
	position: relative;
	left: $contact-form-btn-trigger-height;
	border-top: 28px solid $fl-dark-grey;
	border-bottom: 110px solid $fl-blue;
	padding: 50px (80px + $contact-form-btn-trigger-height) 95px 65px;
	height: 100%;
}

.contact-form__content {
	margin-top: 50px;
}

.contact-form__inner {
	overflow-y: scroll;
	overflow-x: hidden;
}

.contact-form-container.form-open {
	right: 0;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	overflow-y: scroll;
	overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    .btn-fl--contact {
    	right: ($contact-form-max-width - 90px) - $contact-form-btn-trigger-height;
    }
}

.contact-form__city {
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	line-height: 1;
	color: #000;
}

.contact-form__phone-number {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	display: block;
	color: #000;
}

.adr {
	font-weight: 700;
	text-align: center;
	color: #000;
}


