/* -----------------------------
/* Modules
/*
/* - Reusable anywhere
/* ----------------------------- */

.content-row {
	margin-bottom: 24px;
}

.content-module-container {
	@include display(flex);
}

.content-module {
	width: 100%;
	height: 100%;
	padding: 32px;
	overflow: hidden;
	&.is-products {
		height: 550px;
	}
	&.white {
		background-color: #fff;
	}
	&.blue {
		background-color: $fl-blue;
	}
	&.dark-blue {
		background-color: $fl-dark-blue;
	}
	&.has-bg {
		background-size: cover;
	}
	&.grey-overlay {
		position: relative;
		&::before {
			content:'';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0,0,0,0.6);
		}
	}
	&.has-picture {
		.content-module__inner {
			padding: 50px 32px 32px 32px;
		}
	}
	&.on-aboutus {
		.content-module__inner {
			padding: 60px 60px 30px 60px;
		}
	}
	&.on-community {
		.content-module__inner {
			padding: 60px 40px 40px 40px;
		}
	}
}

.content-module__inner {
	padding: 95px 0 0 0;
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
	@include justify-content(space-between);
	&.is-toggable-area {
		padding: 60px 0 0 0;
	}
	&.is-dropdown-area {
		padding: 70px 150px 70px 150px;
	}
	&.is-blog-excerpt {
		padding: 25px;
	}
	&.grey-overlay {
		width: percentage((1600 - 550) / 1600);
		height: 100%;
		padding: 32px;
		&::before {
			content:'';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0,0,0,0.6);
		}
	}
}

.content-module__close-collapse {
	padding: 30px 0;
	background: $fl-dark-blue;
	@include justify-content(center);
	.content-module__btn-container {
		margin: 0;
	}
}

.content-module__btn-container {
	margin-top: 35px;
}

.content-module__content {
	position: relative;
	&.has-padding {
		padding: 0 20px 0 0;
	}
}

.content-module__title {
	font-size: 48px;
	width: 100%;
	line-height: calc(60em / 48);
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	margin: 0 0 20px 0;
}

.content-module__inner.is-blog-excerpt {
	.content-module__title {
		a {
			color: #000;
			&:hover, &:focus {
				color: $fl-blue;
				text-decoration: none;
			}
		}
	}
}

.content-module.white {
	.content-module__inner {
		color: $fl-dark-grey;
	}
	.content-module__title {
		color: #4B4B4B;
	}
	.content-module__desc {
		color: $fl-blue;
	}
}

.content-module__desc {
	color: #fff;
	margin: 0;
	width: 100%;
}

.content-module__inner.is-blog-excerpt {
	.content-module__desc {
		color: #000;
	}
}

.content-module__links {
	margin: 0 0 0 0;
	padding: 0;
	line-height: calc(42em / 24);
	li {
		display: inline-block;
		position: relative;
		margin-right: 25px;
		&::after {
			position: absolute;
			right: -20px;
			content: '|';
		}
		&:last-child {
			margin-right: 0;
			&::after {
				content: none;
			}
		}
	}
}

.content-module__picture {
	height: 100%;
	max-width: 550px;
	width: 100%;
	img {
		height: 100%;
		vertical-align: top;
		width: 100%;
		@include object-fit(cover);
	}
}

.content-module.has-form {
	.content-module__picture {
		height: 412px;
		img {
			height: auto;
		}
	}
}

.content-module.on-community {
	.content-module__picture {
		img {
			height: auto;
		}
	}
}

.blog-article {
	.content-module__picture {
		height: 100%;
		max-width: 100%;
		width: 100%;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

#staffContentRow {
	.content-module__picture {
		height: auto;
		max-width: 100%;
		width: auto;
		img {
			max-width: 230px;
			width: auto;
			height: auto;
		}
	}
}

.content-module__form {
	margin-top: 0;
	width: 100%;
}

.content-module__inner {
	.content-module__person:last-of-type {
		margin-bottom: 0;
	}
}

.content-module__person {
	margin-bottom: 50px;
	h3 {
		span {
			margin-right: 15px;
		}
	}
	.person p:last-of-type {
		margin-bottom: 0;
	}
}

/* -------------------------------------
/* Testimonials
/* ------------------------------------- */

.testimonial {
	margin-bottom: 30px;
}

.content-module.dark-blue {
	.testimonial {
		margin-bottom: 0;
	}
}

#testimonialsContentRow {
	.testimonial:last-of-type {
		margin-bottom: 0;
	}
}

.testimonial__name {
	margin-bottom: 0;
}

/* -------------------------------------
/* Blog page elements
/* ------------------------------------- */

.blog-articles {
	.content-row {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.content-module__byline {
	margin-top: 20px;
	width: 100%;
	.content-module__btn-container {
		margin: 0;
	}
}

.content-module__entry-meta {
	font-style: italic;
	font-size: 18px;
	a {
		color: $fl-dark-grey;
		&:hover, &:focus {
			color: $fl-blue;
		}
	}
}

.content-module__sidebar {
	background: $fl-dark-blue;
	width: 100%;
	height: 100%;
	padding: 35px 0;
}

.sidebar__category-title {
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 60px;
	font-size: 32px;
	color: #fff;
	margin-left: 40px;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		left: 0;
		background: #95989A;
		bottom: -30px;
	}
}

.sidebar__category-list {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		margin-bottom: 5px;
		&:last-of-type {
			margin-bottom: 0;
		}
		&.current-cat {
			background: rgba(232, 232, 232, .41);
		}
	}
	a {
		font-size: 30px;
		color: #fff;
		padding: 9px 40px;
		display: block;
		width: 100%;
		text-decoration: none;
		&:hover, &:focus {
			background: rgba(232, 232, 232, .41);
		}
	}
}

.content-module.white {
	.content-module__inner {
		&.is-blog-post {
			color: #000;
			padding: 40px 55px;
			.content-module__desc {
				color: #000;
			}
			.content-module__title {
				color: #000;
			}
		}
	}
}

.content-module__inner.blockquote {
	font-weight: 500;
	font-style: italic;
	padding: 25px 40px;
	margin: 0;
	border: 0;
	p {
		margin: 0;
		font-size: 30px;
		line-height: (40em / 30);
	}
}

