/* -----------------------------
/* Modules
/*
/* - Reusable anywhere
/* ----------------------------- */


.page-intro {
	line-height: calc(29em / 18);
	margin-bottom: 70px;
	.large {
		display: inline;
		font-size: 40px;
	}
}

.industries-accordion {

	.card {
		overflow: hidden;
		background: transparent;
		margin: 0 0 20px 0;
		border: 0;
		border-radius: 0;
		border-right: 8px solid $f-orange;
		max-height: 212px;
	}

	.card-header {
		padding: 0;
		border-radius: 0 !important;
		background: transparent;
		border: 0;
		@include clearfix();
		height: 48px;
	}

	.card-title {
		float: left;
		width: calc(100% - 210px);
		text-align: right;
		font-size: 26px;
		a {
			color: $f-dark-grey;
			display: block;
			width: 100%;
    		height: 48px;
			&[aria-expanded="true"] {
				border-top: 8px solid $f-orange;
			}
			span {
				position: absolute;
				top: 10px;
				right: 10px;
			}
			&:hover, &:focus {
				color: #fff;
				background: $f-orange;
			}
		}
	}

	.card-image {
		float: left;
		margin: 0;
		width: 210px;
		img {
			@include object-fit(cover);
			width: 100%;
			max-height: 212px;
		}
	}

	.card-dropdown {
		width: calc(100% - 210px);
		float: right;
		text-align: right;
		border-bottom: 8px solid $f-orange;
	}

	.card-block {
		padding: 0 10px;
		font-size: 16px;
		p {
			margin: 0 0 15px 0;
		}
	}
}

.page-mini-section {
	margin-bottom: 60px;
	h3 {
		margin-bottom: 20px;
		font-size: 32px;
	}
	&.form {
		h3 {
			margin-bottom: 50px;
		}
	}
}

/* -----------------------------
/* Services/Features
/* ----------------------------- */

.services {
	+ .services {
		margin-top: 50px;
	}
}

.service {
	text-align: center;
	img {
		width: 168px;
		margin-bottom: 20px;
	}
	p {
		font-size: 20px;
		line-height: calc(27em / 20);
		margin: 0;
	}
}

.service-title {
	font-size: 32px;
	margin-bottom: 25px;
}

.phase-list {
	padding-left: 120px;
	span {
		text-transform: uppercase;
		font-weight: 700;
		color: $f-orange;
	}
}

/* -----------------------------
/* People
/* ----------------------------- */

.people > .person + .person {
	margin-top: 100px;
}

.person img {
	width: 100%;
}

.people ul {
	color: $f-orange;
	font-weight: 700;
}


