/* -----------------------------
/* Home
/*
/* - Homepage styles
/* ----------------------------- */

.toggleable-area {
	background: $f-black-alt;
}

.toggleable-area__content {
	padding-left: 60px;
	@include align-self(center);
	h3 {
		font-size: 26px;
		color: $f-orange;
		margin-bottom: 5px;
	}
	p {
		font-size: 18px;
		color: #fff;
		margin: 0;
		line-height: calc(28em / 18);
	}
}

.company-desc-area {
	padding: 38px 0;
	p {
		margin: 0;
		line-height: calc(29em / 18);
	}
}

.features-area {
	background: $f-black-alt;
	border-top: 17px solid $f-orange;
	color: #fff;
}

.features {
	margin-top: 6px;
	margin-bottom: 11px;
}

.feature {
	max-width: 350px;
	width: 100%;
	padding: 45px 30px;
	p {
		font-size: 14px;
		line-height: calc(24em / 14);
	}
	ul > li {
		font-size: 14px;
		text-transform: uppercase;
	}
	.btn {
		margin: 0 auto;
	}
	&--design {
		background: url('../images/home-cb-1.png') no-repeat;
		margin-right: 2.5px;
	}
	&--story {
		background: url('../images/home-cb-2.png') no-repeat;
		margin-left: 2.5px;
		margin-right: 2.5px;
	}
	&--what-do {
		background: url('../images/home-cb-3.png') no-repeat;
		margin-left: 2.5px;
	}
}

.feature__title {
	font-size: 24px;
	margin-bottom: 20px;
}

.featured-video {
	background: $f-orange;
	text-align: center;
	padding: 14px 0;
	margin-bottom: 14px;
	iframe {
		height: 359px;
		width: 627px;
		vertical-align: bottom;
	}
}



